/src/App.vue
/src/components/AppNavbar.vue
/src/components/EssentialLink.vue
/src/layouts/MainLayout.vue
/src/pages/CartPage.vue
/src/pages/CheckoutPage.vue
/src/pages/ErrorNotFound.vue
/src/pages/IndexPage.vue
/src/pages/OrderConfirmation.vue
/src/pages/PageCheckout.vue
/src/pages/PageProducts.vue
/src/pages/PaymentSuccess.vue
/src/pages/ProductDetail.vue
